@font-face {
    font-family: "NorseBold";
    src: url("norse-bold.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

html {
    margin: 0px;
    padding: 0px;
}
body {
    padding: 0px;
    margin: 0px;
    display: flex;
    min-height: 100vh;
    box-sizing: border-box;
}

.left-panel {
    flex: 0 0 34%;
    background-image: url("background.jpg");
    background-size: contain;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.right-panel {
    flex: 0 0 66%
}

.title-container {
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15%;
    flex: 0 0 auto;
    margin-top: 30%;
}

.title-container h1 {
    color: white;
    font-family: "NorseBold";
    font-size: clamp(2rem, 2rem + 4vw, 6rem);
}

.title-container img {
    height: 90%;
    width: auto;
    max-width: 100%;
}

.left-panel div:last-child {
    text-align: center;
    color: white;
}

.left-panel span {
    text-decoration: underline;
}

a {
    color: olivedrab;
}

button {
    background-color: olivedrab;
    color: white;
    padding: 10px 32px;
    border: 0px;
    border-radius: 4px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-top: 4vh;
    margin-bottom: 5vh;
}

input {
    display: block;
    width: 15vw;
    height: 1.5vw;
    border: 1px solid lightgray;
    border-radius: 4px;
}

fieldset {
    display: flex;
    gap: 64px;
    padding-left: 4vw;
    padding-bottom: 3vw;
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

fieldset > div {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.right-panel {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-top: 7.5%;
}

.right-panel p:first-child {
    display: flex;
    flex-direction: column;
}

h2 {
    margin-top: 7.5vh;
}

p, h2 {
    font-size: clamp(0.5rem, 0.5rem + 1vw, 2rem);
    margin-left: 4vw;
}

h2, label {
    color: rgb(73, 73, 73);
}

label {
    font-size: clamp(0.25rem, 0.25rem + 0.5vw, 0.75rem);
    letter-spacing: 0.1rem;
}

form > div {
    margin-left: 4vw;
}

input[type="password"]:invalid {
    border: 1px solid rgb(250, 43, 43);
}

input:focus {
    border: 1px solid rgb(51, 51, 250);
    box-shadow: 2px 2px 6px rgba(0,0,0,0.4);
}